name: run_tests

on: [push]

jobs:
  run_pytest:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      max-parallel: 5

    steps:
      - uses: actions/checkout@v4

      - name: Setup Miniforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          environment-file: environment.yml

      - name: Conda info
        run: conda info

      - name: Install package
        run: |
           python -m pip install -e . --no-deps --force-reinstall

      - name: Running Tests
        run: |
          python -m pytest --verbose
